# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
# available for local screenshots and other debug needs
!e2e/tmp/.gitkeep
e2e/tmp/*
testresults/

#System Files
.DS_Store
Thumbs.db
