$color-abbey: #4d5457;
$color-charcoal-grey: #3f4547;
$color-iron: #dcdfe0;
$color-curious-blue: #1a9bdb;
$color-java: #1dcccc;
$color-wildsand: #f6f6f6;
$color-alabaster: #fafafa;
$color-disabled: #99a0a3;
$color-rolling-stone: #7a8185;
$color-cool-grey: #aab0b3;
$color-heather: #babfc2;
$color-error: #e82e2e;
$color-success: #44ba65;
$color-moody-blue: #7d7acc;
$color-gold: #ffc400;
$color-glacier: #6ca4c0;
